<div
  class="svh-100 w-100 p-3 d-flex flex-column"
  id="container"
  style="color: rgb(101, 59, 156)"
>
  <div
    class="flex-fill rounded-0 overflow-scroll border border-dark px-3 pt-3 shadow position-relative"
    style="padding-bottom: 100px !important"
    id="inner"
  >
    <a
      id="goToHomeBtn"
      class="btn btn-primary"
      (click)="ss.sectionsVisibility = true"
    >
      <fa-icon [icon]="faArrowLeft"></fa-icon>
    </a>
    <div id="novita">
      <h3 class="fw-light text-center my-3">Tea Time delle h16</h3>
      <p class="small mb-1 text-center">
        Selezione di petit fours dolci e salati per accompagnare la tua bevanda
        preferita. Il tipico “aperitivo” all’inglese rivisitato
      </p>
      <p class="cavalier text-center my-2">8 a persona per l'intero tavolo</p>
    </div>
    <app-divider color="rgb(101, 59, 156)"></app-divider>

    <h4
      class="d-flex flex-row justify-content-between align-items-center fw-bold mb-0"
    >
      <div>
        <span class="cavalier">Madeleines</span> <u class="small ms-1">(1,2)</u>
      </div>
      <span class="cavalier">1</span>
    </h4>
    <i class="small fw-bold">(senza lattosio)</i>

    <!-- <app-divider color="rgb(101, 59, 156)"></app-divider>
    <h4
      class="cavalier d-flex flex-row justify-content-between align-items-center fw-bold mb-0"
    >
      <div>
        <span class="cavalier">Palmiers</span><u class="small ms-1">(1,5)</u>
      </div>
      <span class="cavalier">1</span>
    </h4>
    <i class="small fw-bold">(senza uova)</i> -->

    <app-divider color="rgb(101, 59, 156)"></app-divider>
    <h4
      class="cavalier d-flex flex-row justify-content-between align-items-center fw-bold mb-0"
    >
      <div>
        <span class="cavalier">Diamants</span><u class="small ms-1">(1,5)</u>
      </div>
      <span class="cavalier">0.5</span>
    </h4>
    <i class="small fw-bold">(senza uova)</i>

    <app-divider color="rgb(101, 59, 156)"></app-divider>
    <h4
      class="cavalier d-flex flex-row justify-content-between align-items-center fw-bold mb-0"
    >
      <div>
        <span class="cavalier">Pâte de Fruit</span><u class="small ms-1">(2)</u>
      </div>
      <span class="cavalier">1.5</span>
    </h4>
    <p class="small mb-1">
      Caramelle morbide vegane e senza glutine realizzate interamente con
      frutta, senza gelatina, coloranti e addensanti.
    </p>

    <!-- <app-divider color="rgb(101, 59, 156)"></app-divider>
    <h4
      class="cavalier d-flex flex-row justify-content-between align-items-center fw-bold mb-0"
    >
      <div>
        <span class="cavalier">Meringues</span><u class="small ms-1">(2)</u>
      </div>
      <span class="cavalier">0.5</span>
    </h4>
    <i class="small fw-bold">(senza glutine e senza lattosio)</i> -->

    <app-divider color="rgb(101, 59, 156)"></app-divider>
    <h4
      class="cavalier d-flex flex-row justify-content-between align-items-center fw-bold"
    >
      <div>
        <span class="cavalier">Canelés Bordelais</span
        ><u class="small ms-1">(1,2,5)</u>
      </div>
      <span class="cavalier">1.2</span>
    </h4>
    <p class="small">
      Dolce tipico di Bordeaux con bacca di vaniglia e Rhum ambrato
    </p>

    <app-divider color="rgb(101, 59, 156)"></app-divider>
    <h4
      class="cavalier d-flex flex-row justify-content-between align-items-center fw-bold mb-0"
    >
      <div>
        <span class="cavalier">Macarons</span><u class="small ms-1">(2,5,6)</u>
      </div>
      <span class="cavalier">2</span>
    </h4>
    <i class="small fw-bold">(senza glutine)</i>

    <app-divider color="rgb(101, 59, 156)"></app-divider>
    <!-- <h4
      class="cavalier d-flex flex-row justify-content-between align-items-center fw-bold mb-0"
    >
      <div>
        <span class="cavalier">Mini Éclairs</span
        ><u class="small ms-1">(1,2,5)</u>
      </div>
      <span class="cavalier">2</span>
    </h4>
    <i class="small fw-bold">(disponibile solo fine settimana)</i>

    <app-divider color="rgb(101, 59, 156)"></app-divider> -->

    <h4
      class="cavalier d-flex flex-row justify-content-between align-items-center fw-bold"
    >
      <div>
        <span class="cavalier">Gianduiotti</span
        ><u class="small ms-1">(3,5,6)</u>
      </div>
    </h4>
    <p class="small">
      Temperati a mano da noi con cioccolato belga Callebaut e pasta pura al
      100%<br />
      Gusti: nocciola, arachide, pistacchio
    </p>
    <i class="small fw-bold">(senza glutine)</i><br />
    <i class="small fw-bold">(disponibile solo autunno ed inverno)</i>
    <h4 class="d-flex flex-row justify-content-end cavalier fw-bold mt-3">
      1.5 piccoli - 3.5 grandi
    </h4>
  </div>
</div>
