#container {
  background-color: rgb(236, 202, 255);
  max-height: 100svh;
}
#inner {
  background-color: rgb(223, 189, 255);
}
:host {
  max-height: 100svh;
}
.small {
  font-size: 14px;
  line-height: 18px;
}

#goToHomeBtn {
  position: fixed;
  bottom: 16px;
  left: 16px;
  border-radius: 0;
  width: 100px;
  box-shadow: inset -2px 2px 5px rgba(0, 0, 0, 0.2);
  background-color: rgb(210, 176, 242);
  color: rgb(101, 59, 156);
  border-top: 1px solid rgb(101, 59, 156);
  border-right: 1px solid rgb(101, 59, 156);
  border-bottom: 0;
  border-left: 0;
  aspect-ratio: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#novita {
  background-color: #a48bbc;
  padding: 10px;
  color: #e8daf6;
  box-sizing: border-box;
}
