<div
  class="svh-100 w-100 p-3 d-flex flex-column"
  id="container"
  style="color: rgb(101, 59, 156)"
>
  <div
    class="flex-fill rounded-0 overflow-scroll border border-dark px-3 pt-3 shadow position-relative"
    style="padding-bottom: 100px !important"
    id="inner"
  >
    <a
      id="goToHomeBtn"
      class="btn btn-primary"
      (click)="ss.sectionsVisibility = true"
    >
      <fa-icon [icon]="faArrowLeft"></fa-icon>
    </a>

    <h4
      class="cavalier d-flex flex-row justify-content-between align-items-center fw-bold"
    >
      TEA TIME PETIT <span>4</span>
    </h4>
    <p class="small">Selezione di prodotti della nostra piccola pasticceria</p>
    <i class="small fw-bold">(consigliato per 1-2 persone)</i>

    <app-divider color="rgb(101, 59, 156)"></app-divider>
    <h4
      class="cavalier d-flex flex-row justify-content-between align-items-center fw-bold"
    >
      TEA TIME GOURMAND <span>11</span>
    </h4>
    <p class="small">
      Selezione di prodotti della nostra piccola pasticceria e dei nostri
      lievitati
    </p>
    <i class="small fw-bold">(consigliato per 3-4 persone)</i>

    <app-divider color="rgb(101, 59, 156)"></app-divider>
    <h4
      class="cavalier d-flex flex-row justify-content-between align-items-center fw-bold"
    >
      Madeleines<span>1</span>
    </h4>
    <i class="small fw-bold">(senza lattosio)</i>

    <app-divider color="rgb(101, 59, 156)"></app-divider>
    <h4
      class="cavalier d-flex flex-row justify-content-between align-items-center fw-bold"
    >
      Palmiers<span>1</span>
    </h4>
    <i class="small fw-bold">(senza uova)</i>

    <app-divider color="rgb(101, 59, 156)"></app-divider>
    <h4
      class="cavalier d-flex flex-row justify-content-between align-items-center fw-bold"
    >
      Diamants<span>0.50</span>
    </h4>
    <i class="small fw-bold">(senza uova)</i>

    <app-divider color="rgb(101, 59, 156)"></app-divider>
    <h4
      class="cavalier d-flex flex-row justify-content-between align-items-center fw-bold"
    >
      Meringues<span>0.50</span>
    </h4>
    <i class="small fw-bold">(senza glutine e senza lattosio)</i>

    <app-divider color="rgb(101, 59, 156)"></app-divider>
    <h4
      class="cavalier d-flex flex-row justify-content-between align-items-center fw-bold"
    >
      Canelés Bordelais<span>1.20</span>
    </h4>
    <p class="small">
      Dolce tipico di Bordeaux con bacca di vaniglia e Rhum ambrato
    </p>

    <app-divider color="rgb(101, 59, 156)"></app-divider>
    <h4
      class="cavalier d-flex flex-row justify-content-between align-items-center fw-bold"
    >
      Macarons<span>2</span>
    </h4>
    <i class="small fw-bold">(senza glutine)</i>

    <app-divider color="rgb(101, 59, 156)"></app-divider>
    <h4
      class="cavalier d-flex flex-row justify-content-between align-items-center fw-bold"
    >
      Mini Éclairs <span>2</span>
    </h4>
    <i class="small fw-bold">(disponibile fine settimana)</i>

    <app-divider color="rgb(101, 59, 156)"></app-divider>

    <h4
      class="cavalier d-flex flex-row justify-content-between align-items-center fw-bold"
    >
      Gianduiotti
    </h4>
    <p class="small">
      Temperati a mano da noi con cioccolato belga Callebaut e pasta pura al
      100% (nocciola/arachide/pistacchio)
    </p>
    <i class="small fw-bold">(senza glutine)</i><br />
    <i class="small fw-bold">(disponibile solo autunno/inverno)</i>
    <h4 class="d-flex flex-row justify-content-end cavalier fw-bold mt-3">
      1.50 piccoli - 3.50 grandi
    </h4>
  </div>
</div>
