#container {
  background-color: rgb(227, 64, 145);
  max-height: 100svh;
}
#inner {
  background-color: rgb(194, 56, 125);
}
:host {
  max-height: 100svh;
}
.small {
  font-size: 14px;
  line-height: 18px;
}

#goToHomeBtn {
  position: fixed;
  bottom: 16px;
  left: 16px;
  border-radius: 0;
  width: 100px;
  box-shadow: inset -2px 2px 5px rgba(245, 245, 245, 0.2);
  background-color: rgb(227, 64, 145);
  color: white;
  border-top: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 0;
  border-left: 0;
  aspect-ratio: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
