<div class="modal-body text-center">
  <h3 class="mb-3">Il tuo feedback è importante</h3>

  <img
    src="assets/google-reviews-logo.png"
    class="img-fluid mb-3"
    alt="Google Review"
  />

  <button class="btn btn-primary mb-4" (click)="openReviewLinks()">
    Lascia una recensione
  </button>

  <p class="mb-4">
    Se ti è piaciuto Brió, aiutaci a crescere lasciando una recensione
  </p>

  <div class="bottom-bar">
    <div class="bar blue"></div>
    <div class="bar red"></div>
    <div class="bar yellow"></div>
    <div class="bar green"></div>
  </div>
</div>
