<div class="modal-header">
  <h5 class="modal-title">Grazie per la tua visita!</h5>
  <button
    type="button"
    class="btn-close"
    (click)="close()"
    aria-label="Close"
  ></button>
</div>
<div class="modal-body text-center">
  <img
    src="assets/google-reviews-logo.png"
    class="img-fluid mb-3"
    alt="Google Review"
  />
  <h4 class="mb-3">Il tuo feedback è importante</h4>

  <p class="mb-4">
    Se la tua esperienza con Brió sarà positiva ricordati di lasciare una
    recensione sul nostro profilo Google. Grazie per il tuo supporto!
  </p>

  <div class="bottom-bar">
    <div class="bar blue"></div>
    <div class="bar red"></div>
    <div class="bar yellow"></div>
    <div class="bar green"></div>
  </div>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-secondary"
    (click)="close()"
    aria-label="Close"
  >
    Me lo ricorderò 😊
  </button>
</div>
