#container {
  height: 100dvh;
  overflow: scroll;
  scroll-behavior: smooth;
  scroll-snap-points-y: repeat(100dvh);
  scroll-snap-stop: normal;
  scroll-snap-type: y mandatory;
  z-index: 1000;
  background-color: white;
  left: 0px;
  transition: left 0.5s ease-in-out;
  &.hidden {
    left: -100%;
  }
}

#introSection {
  background: url("/assets/back.png") no-repeat center center;
  background-position: center;
  background-size: cover;
  background-position-x: left;
}

#introSectionInner {
  border: 1px solid #06656d;
  color: #06656d;
}

#toMenuIndication {
}
