#container {
  background-color: rgb(18, 179, 168);
  max-height: 100svh;
}
#inner {
  background-color: rgb(5, 166, 155);
}
:host {
  max-height: 100svh;
}
.small {
  font-size: 12px;
  line-height: 18px;
}

#goToHomeBtn {
  position: fixed;
  bottom: 16px;
  left: 16px;
  border-radius: 0;
  width: 100px;
  box-shadow: inset -2px 2px 5px rgba(0, 0, 0, 0.2);
  background-color: rgb(0, 153, 142);
  color: rgb(0, 64, 53);
  border-top: 1px solid #02534e;
  border-right: 1px solid #02534e;
  border-bottom: 0;
  border-left: 0;
  aspect-ratio: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
