<div
  class="svh-100 w-100 p-3 d-flex flex-column"
  id="container"
  style="color: rgb(153, 153, 153)"
>
  <div
    class="flex-fill rounded-0 overflow-scroll border border-dark px-3 pt-3 shadow position-relative"
    style="padding-bottom: 100px !important"
    id="inner"
  >
    <a
      id="goToHomeBtn"
      class="btn btn-primary"
      (click)="ss.sectionsVisibility = true"
    >
      <fa-icon [icon]="faArrowLeft"></fa-icon>
    </a>

    <h4
      class="cavalier d-flex flex-row justify-content-between align-items-center fw-bold"
    >
      Cioccolata calda
    </h4>
    <p class="small mb-1">
      Fatta da noi con cioccolato belga Callebaut disponibile sia a latte che
      fondente
    </p>
    <i class="small fw-bold">(disponibile solo autunno ed inverno)</i><br />
    <i class="small fw-bold">Aggiunta di panna e marshmallow +1</i>
    <h4 class="d-flex flex-row justify-content-end cavalier fw-bold mt-3">
      3.5 piccola - 5.5 grande
    </h4>
    <app-divider color="rgb(153, 153, 153)"></app-divider>
    <h4
      class="cavalier d-flex flex-row justify-content-between align-items-center fw-bold"
    >
      The Freddo<span>3.5</span>
    </h4>
    <p class="small mb-1">
      Fatto da noi con thé verde aromatizzato al bergamotto, pompelmo, arancia
      ed erbe aromatiche del nostro orto
    </p>
    <p class="small mb-1">
      Fatto da noi con thé nero aromatizzato al melograno pistacchio e albicocca
    </p>
    <i class="small fw-bold">(disponibile solo primavera ed estate)</i>
    <app-divider color="rgb(153, 153, 153)"></app-divider>
    <h4
      class="cavalier d-flex flex-row justify-content-between align-items-center fw-bold"
    >
      Succhi Derby <span>3.5</span>
    </h4>
    <p class="small">Albicocca, Arancia, ACE, Ananas, Pesca, Pera, Mirtillo</p>
    <app-divider color="rgb(153, 153, 153)"></app-divider>
    <h4
      class="cavalier d-flex flex-row justify-content-between align-items-center fw-bold"
    >
      Frullati proteici <span>3.5</span>
    </h4>
    <p class="small">Mela bosco avena, Mango pesca mandorla</p>
    <app-divider color="rgb(153, 153, 153)"></app-divider>

    <h4
      class="cavalier d-flex flex-row justify-content-between align-items-center fw-bold"
    >
      Analcolici <span>3</span>
    </h4>

    <p class="small">
      Coca cola (normale e zero), Fanta, Oran soda, Crodino, Cedrata Tassoni,
      Schweppes lemon, Tonica Fever Tree, San bitter bianco
    </p>
    <app-divider color="rgb(153, 153, 153)"></app-divider>

    <h4
      class="cavalier d-flex flex-row justify-content-between align-items-center fw-bold"
    >
      Acqua 5cl <span>1.2</span>
    </h4>
    <i class="fw-bold small">liscia o gassata</i>

    <h3
      class="d-flex flex-row justify-content-between align-items-center fw-bold mt-5"
    >
      Alcolici
    </h3>
    <hr />

    <h4
      class="cavalier d-flex flex-row justify-content-between align-items-center fw-bold"
    >
      Cioccolata calda <span>4.5</span>
    </h4>
    <p class="small mb-1">
      Fatta da noi con aggiunta di Whiskey “Wild Turkey Bourbon”
    </p>
    <i class="small fw-bold">(disponibile solo autunno ed inverno)</i>
    <app-divider color="rgb(153, 153, 153)"></app-divider>
    <h4
      class="cavalier d-flex flex-row justify-content-between align-items-center fw-bold"
    >
      Calice V8 Prosecco Brut <span>5</span>
    </h4>
    <app-divider color="rgb(153, 153, 153)"></app-divider>
    <h4
      class="cavalier d-flex flex-row justify-content-between align-items-center fw-bold"
    >
      Distillato Francese <span>5</span>
    </h4>
    <p class="small mb-1">Con aggiunta di gianduiotto €6</p>
    <app-divider color="rgb(153, 153, 153)"></app-divider>
    <h4
      class="cavalier d-flex flex-row justify-content-between align-items-center fw-bold"
    >
      Campari soda <span>3.5</span>
    </h4>

    <app-divider color="rgb(153, 153, 153)"></app-divider>
    <h4
      class="cavalier d-flex flex-row justify-content-between align-items-center fw-bold"
    >
      Birra artigianale Baladin <span>6</span>
    </h4>
    <app-divider color="rgb(153, 153, 153)"></app-divider>
    <h4
      class="cavalier d-flex flex-row justify-content-between align-items-center fw-bold"
    >
      Aperol/Campari Spritz <span>6</span>
    </h4>
  </div>
</div>
