:host {
  height: 100%;
}

.section {
  height: 100%;
  scroll-snap-type: both proximity;
  scroll-snap-align: start;
  overflow: hidden;
}

.sectionTitle {
  font-size: 3.5rem;
}

#sectionImage {
  height: 80px !important;
  width: auto;
}

#goToSectionBtn {
  border-radius: 0;
  position: absolute;
  bottom: -1px;
  width: 100px;
  border: none;
  right: -1px;
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2);
  aspect-ratio: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#logo {
  position: absolute;
  z-index: 20;
  opacity: 0.05;
  width: 230px;
  top: -15px;
  left: -10px;
}
