<div
  class="svh-100 w-100 p-3 d-flex flex-column"
  id="container"
  style="color: rgb(153, 89, 64)"
>
  <div
    class="flex-fill rounded-0 overflow-scroll border border-dark px-3 pt-3 shadow position-relative"
    style="padding-bottom: 100px !important"
    id="inner"
  >
    <a routerLink="" id="goToHomeBtn" class="btn btn-primary">
      <fa-icon [icon]="faArrowLeft"></fa-icon>
    </a>
    <h4
      class="cavalier d-flex flex-row justify-content-between align-items-center fw-bold"
    >
      Croissant salato <span>3.50</span>
    </h4>
    <small>Farciture:</small>

    <ul style="font-size: 12px; list-style: square; line-height: 18px">
      <li>Prosciutto crudo, formaggio spalmabile e rucola</li>
      <li>Mortadella, formaggio Edamer e maionese</li>
    </ul>
    <app-divider color="rgb(153, 89, 64)"></app-divider>

    <h4
      class="cavalier d-flex flex-row justify-content-between align-items-center fw-bold"
    >
      Quiche vegetariana <span>3.50</span>
    </h4>
    <i class="small fw-bold">(solo primavera ed estate)</i>
    <app-divider color="rgb(153, 89, 64)"></app-divider>
    <h4
      class="cavalier d-flex flex-row justify-content-between align-items-center fw-bold"
    >
      Parisienne salata <span>2.20</span>
    </h4>
    <p class="small">
      All’interno mortadella,formaggio Edamer e decorata con semi di papavero
    </p>
    <i class="small fw-bold">(solo il fine settimana)</i>
    <app-divider color="rgb(153, 89, 64)"></app-divider>
    <h4
      class="cavalier d-flex flex-row justify-content-between align-items-center fw-bold"
    >
      Pain Brioche salato
    </h4>
    <p class="small">
      All’interno mortadella,formaggio Edamer e decorato con semi di papavero
    </p>
    <h4 class="d-flex flex-row justify-content-end cavalier fw-bold">
      18 intero
    </h4>
    <i class="small fw-bold">(disponibile solo su prenotazione)</i>
  </div>
</div>
