<div class="svh-100 w-100 p-3 d-flex flex-column" id="container" style="color: rgb(150, 75, 0)">
    <div class="flex-fill rounded-0 overflow-scroll border border-dark p-3 shadow pb-5 position-relative" id="inner">
        <a routerLink="" id="goToHomeBtn" class="btn btn-primary">
            <fa-icon [icon]="faArrowLeft"></fa-icon>
        </a>
        <h4 class="cavalier d-flex flex-row justify-content-between align-items-center fw-bold">
            Croissant vuoto <span>1.50</span>
        </h4>
        <app-divider color="rgb(150, 75, 0)"></app-divider>
        <h4 class="cavalier d-flex flex-row justify-content-between align-items-center mb-0 fw-bold">
            Croissant farciti <span>2</span>
        </h4>
        <small>Farciture:</small>

        <ul style="font-size: 12px; list-style: square; line-height: 18px">
            <li>Crema pasticcera alla fava Tonka e scorza fresca di limone</li>
            <li>Crema al pistacchio fatta in casa con pasta pura 100% pistacchio</li>
            <li>Croissant con composta al 90% frutta fatta in casa</li>
            <li>
                Croissant aux amandes con inserto alle mandorle fatto in casa e mandorle
                a scaglie
            </li>
        </ul>

        <app-divider color="rgb(150, 75, 0)"></app-divider>

        <h4 class="cavalier d-flex flex-row justify-content-between align-items-center mb-0 fw-bold">
            Pain au chocolat <span>2</span>
        </h4>
        <p class="small">
            Impasto bicolore al cacao con all’interno barrette di cioccolato fondente
            belga Callebaut
        </p>
        <app-divider color="rgb(150, 75, 0)"></app-divider>
        <h4 class="cavalier d-flex flex-row justify-content-between align-items-center mb-0 fw-bold">
            Intreccio <span>2</span>
        </h4>
        <p class="small">
            Impasto bicolore al cacao con all’interno barrette di cioccolato fondente
            belga Callebaut
        </p>
        <app-divider color="rgb(150, 75, 0)"></app-divider>
        <h4 class="cavalier d-flex flex-row justify-content-between align-items-center mb-0 fw-bold">
            Pain au raisin <span>2</span>
        </h4>
        <p class="small">
            Impasto bicolore al cacao con all’interno barrette di cioccolato fondente
            belga Callebaut
        </p>
    </div>
</div>