<div
  class="svh-100 w-100 p-3 d-flex flex-column"
  id="container"
  style="color: rgb(155, 167, 189)"
>
  <div
    class="flex-fill rounded-0 overflow-scroll border p-3 shadow pb-5 position-relative"
    id="inner"
    style="border-color: rgb(155, 167, 189)"
  >
    <a routerLink="" id="goToHomeBtn" class="btn btn-primary">
      <fa-icon [icon]="faArrowLeft"></fa-icon>
    </a>

    <h4 class="d-flex flex-row justify-content-between">
      Thés Verts
      <fa-icon class="text-success" [icon]="faLeaf"></fa-icon>
    </h4>
    <p class="small">
      Il Tè verde, tra cui varietà famose come Matcha, Sencha e Gunpowder, viene
      raccolto, cotto in padella e arrotolato prima di essere essiccato.
      Conosciuto come il tè antiossidante per eccellenza, offre un gusto fresco
      e leggermente amaro, rendendolo una scelta popolare per chi cerca
      un’esperienza di degustazione leggera e salutare.
    </p>

    <h4 class="d-flex flex-row justify-content-between">
      Thés Noirs
      <fa-icon class="text-dark" [icon]="faLeaf"></fa-icon>
    </h4>
    <p class="small">
      Il Tè nero viene raccolto, appassito, arrotolato e ossidato al 100%.
      Questo processo di ossidazione è responsabile della sua caratteristica
      colorazione nera. Una curiosa storia racconta che nel XVI secolo, in
      Inghilterra, un carico di tè verde fu accidentalmente lasciato ossidare.
      Questo incidente portò alla scoperta del tè nero, dando vita a una nuova e
      apprezzata varietà che sarebbe diventata famosa in tutto il mondo.
    </p>
    <h4 class="d-flex flex-row justify-content-between">
      Thé “Rouge” Pu Erh
      <fa-icon class="text-danger" [icon]="faLeaf"></fa-icon>
    </h4>
    <p class="small">
      Il Tè Pu Erh si ottiene attraverso un processo simile a quello del Tè
      verde, ma con alcune differenze fondamentali. Dopo la cottura in padella,
      le foglie vengono appassite al sole e successivamente fermentate, dando
      origine al suo caratteristico colore rosso. Originario della Cina, il
      celebre “Tè dell’Imperatore” si distingue per il suo sapore terroso,
      evocativo del sottobosco, accompagnato da note speziate che ne
      arricchiscono l'esperienza gustativa. Questa complessità lo rende un tè
      molto apprezzato dagli intenditori. Il Pu Erh è l'unico tè che viene
      invecchiato in cantina e a cui vengono assegnate le annate. Questo tè
      unico, originario della Cina, è noto non solo per il suo sapore
      distintivo, ma anche per le sue proprietà benefiche, tra cui il suo potere
      di ridurre il colesterolo.
    </p>
    <app-divider color="rgb(155, 167, 189)"></app-divider>
    <h4
      class="cavalier d-flex flex-row justify-content-between align-items-center mb-0 fw-bold"
    >
      Croissant farciti <span>2</span>
    </h4>
    <small>Farciture:</small>

    <ul style="font-size: 12px; list-style: square; line-height: 18px">
      <li>Crema pasticcera alla fava Tonka e scorza fresca di limone</li>
      <li>Crema al pistacchio fatta in casa con pasta pura 100% pistacchio</li>
      <li>Croissant con composta al 90% frutta fatta in casa</li>
      <li>
        Croissant aux amandes con inserto alle mandorle fatto in casa e mandorle
        a scaglie
      </li>
    </ul>

    <app-divider color="rgb(155, 167, 189)"></app-divider>

    <h4
      class="cavalier d-flex flex-row justify-content-between align-items-center mb-0 fw-bold"
    >
      Pain au chocolat <span>2</span>
    </h4>
    <p class="small">
      Impasto bicolore al cacao con all’interno barrette di cioccolato fondente
      belga Callebaut
    </p>
    <app-divider color="rgb(155, 167, 189)"></app-divider>
    <h4
      class="cavalier d-flex flex-row justify-content-between align-items-center mb-0 fw-bold"
    >
      Intreccio <span>2</span>
    </h4>
    <p class="small">
      Impasto bicolore al cacao con all’interno barrette di cioccolato fondente
      belga Callebaut
    </p>
    <app-divider color="rgb(155, 167, 189)"></app-divider>
    <h4
      class="cavalier d-flex flex-row justify-content-between align-items-center mb-0 fw-bold"
    >
      Pain au raisin <span>2</span>
    </h4>
    <p class="small">
      Impasto bicolore al cacao con all’interno barrette di cioccolato fondente
      belga Callebaut
    </p>
  </div>
</div>
