<div
  class="svh-100 w-100 p-3 d-flex flex-column"
  id="container"
  style="color: rgb(42, 66, 34)"
>
  <div
    class="flex-fill rounded-0 overflow-scroll p-3 shadow pb-5 position-relative"
    id="inner"
    style="border: 1px solid rgb(42, 66, 34)"
  >
    <a
      id="goToHomeBtn"
      class="btn btn-primary"
      (click)="ss.sectionsVisibility = true"
    >
      <fa-icon [icon]="faArrowLeft"></fa-icon>
    </a>

    <h4 class="d-flex flex-row justify-content-between">
      Thés Verts
      <fa-icon style="color: rgb(1, 119, 1)" [icon]="faLeaf"></fa-icon>
    </h4>
    <p class="small">
      Il Tè verde, tra cui varietà famose come Matcha, Sencha e Gunpowder, viene
      raccolto, cotto in padella e arrotolato prima di essere essiccato.
      <br />Conosciuto come il tè antiossidante per eccellenza, offre un gusto
      fresco e leggermente amaro, rendendolo una scelta popolare per chi cerca
      un’esperienza di degustazione leggera e salutare.
    </p>

    <h5 class="my-4">
      <p
        class="mb-0 cavalier d-flex flex-row justify-content-between align-items-center fw-bold"
      >
        Teiera piccola (1-2 persone) <span>3.5</span>
      </p>
      <p
        class="mb-0 cavalier d-flex flex-row justify-content-between align-items-center fw-bold"
      >
        Teiera grande (2-4 persone) <span>6</span>
      </p>
      <i class="fw-bold small">Aggiunta di latte +1</i>
    </h5>

    <h4 class="cavalier fw-bold">L’Été à Saint-Pétersbourg</h4>
    <p class="small">
      Tè verde Sencha proveniente dalla Cina, aromatizzato al bergamotto,
      arancia e pompelmo. <br />Il nostro gusto Russo d’eccellenza ma in verde,
      delizioso da degustare sia caldo che freddo.
    </p>
    <h4 class="cavalier fw-bold">Violette Impériale</h4>
    <p class="small">
      Tè verde Sencha proveniente dalla Cina, aromatizzato alla violetta e
      cosparso di petali.<br />
      Ha un sapore dolce e floreale.
    </p>
    <h4 class="cavalier fw-bold">Confidences</h4>
    <p class="small">
      Tè verde Sencha proveniente dalla Cina, aromatizzato al cioccolato e pera,
      cosparso di fave di cacao, per momenti dolci e indulgenti.
    </p>
    <h4 class="cavalier fw-bold">Le Jardin Marocain</h4>
    <p class="small">
      Miscela di tè verde Sencha e Gunpowder dalla Cina, aromatizzato con frutta
      esotica, mango, papaya e menta.<br />
      Un'esplosione di sapori rinfrescanti.
    </p>
    <h4 class="cavalier fw-bold">Le Jardin de Kyoto</h4>
    <p class="small">
      Questo tè verde è cosparso di petali di fiori di Sakura, l’emblematico
      ciliegio giapponese.<br />
      Il suo sapore delicato, lo rende molto dissetante.
    </p>

    <app-divider color="rgb(42, 66, 34)"></app-divider>

    <h4 class="d-flex flex-row justify-content-between">
      Thés Noirs
      <fa-icon class="text-dark" [icon]="faLeaf"></fa-icon>
    </h4>
    <p class="small">
      Il Tè nero viene raccolto, appassito, arrotolato e ossidato al 100%.<br />
      Questo processo di ossidazione è responsabile della sua caratteristica
      colorazione nera.<br />
      Una curiosa storia racconta che nel XVI secolo, in Inghilterra, un carico
      di tè verde fu accidentalmente lasciato ossidare.<br />
      Questo incidente portò alla scoperta del tè nero, dando vita a una nuova e
      apprezzata varietà che sarebbe diventata famosa in tutto il mondo.
    </p>

    <h5 class="my-4">
      <p
        class="mb-0 cavalier d-flex flex-row justify-content-between align-items-center fw-bold"
      >
        Teiera piccola (1-2 persone) <span>3.5</span>
      </p>
      <p
        class="mb-0 cavalier d-flex flex-row justify-content-between align-items-center fw-bold"
      >
        Teiera grande (2-4 persone) <span>6</span>
      </p>
      <i class="fw-bold small">Aggiunta di latte +1</i>
    </h5>

    <h4 class="cavalier fw-bold">Mélange Hemingway</h4>
    <p class="small">
      Tè nero proveniente dalla Cina, aromatizzato alla noce di cocco e
      zenzero.<br />
      Sulle orme dello scrittore a Cuba. <br />Un tè fresco e raffinato.
    </p>
    <h4 class="cavalier fw-bold">Cookies Vanille Caramel</h4>
    <p class="small">
      Tè nero proveniente dalla Cina, aromatizzato ai cookies, vaniglia e
      caramello. <br />La tenerezza dei biscotti e del caramello dentro un tè
      assolutamente “Gourmand”.
    </p>
    <h4 class="cavalier fw-bold">Massala Tchaï</h4>
    <p class="small">
      Meravigliosa miscela di tè nero proveniente dall'India con chiodi di
      garofano e cardamomo.<br />
      Un tè speziato da gustare anche con latte.
    </p>
    <h4 class="cavalier fw-bold">Earl Grey Pétales de Rose</h4>
    <p class="small">
      Tè nero cinese aromatizzato al bergamotto, cosparso di petali di rosa.<br />
      Un grande classico immancabile.
    </p>
    <h4 class="cavalier fw-bold">Les Jardins de Monet</h4>
    <p class="small">
      Tè nero cinese aromatizzato alla fragola, rabarbaro e vaniglia.<br />
      Un vero e proprio tuffo nei dipinti onirici del pittore impressionista,
      molto dolce e profumato.
    </p>
    <h4 class="cavalier fw-bold">Les Rives du Bosphore</h4>
    <p class="small">
      Tè nero dalla Cina aromatizzato con melograno, pistacchio e albicocca.<br />
      Una fuga alle porte dell'Oriente nella vostra tazza di tè.<br />
      Sofisticato ma pungente.
    </p>
    <app-divider color="rgb(42, 66, 34)"></app-divider>

    <h4 class="d-flex flex-row justify-content-between">
      Thé “Brun” Pu Erh
      <fa-icon style="color: rgb(152, 79, 48)" [icon]="faLeaf"></fa-icon>
    </h4>
    <p class="small">
      Il Tè Pu Erh si ottiene attraverso un processo simile a quello del Tè
      verde, ma con alcune differenze fondamentali.<br />
      Dopo la cottura in padella, le foglie vengono appassite al sole e
      successivamente fermentate, dando origine al suo caratteristico colore
      rosso. <br />Originario della Cina, il celebre “Tè dell’Imperatore” si
      distingue per il suo sapore terroso, evocativo del sottobosco,
      accompagnato da note speziate che ne arricchiscono l'esperienza
      gustativa.<br />
      Questa complessità lo rende un tè molto apprezzato dagli intenditori.
      <br />Il Pu Erh è l'unico tè che viene invecchiato in cantina e a cui
      vengono assegnate le annate. <br />Questo tè unico, originario della Cina,
      è noto non solo per il suo sapore distintivo, ma anche per le sue
      proprietà benefiche, tra cui il suo potere di ridurre il colesterolo.
    </p>

    <h5 class="my-4">
      <p
        class="mb-0 cavalier d-flex flex-row justify-content-between align-items-center fw-bold"
      >
        Teiera piccola (1-2 persone) <span>4</span>
      </p>
      <p
        class="mb-0 cavalier d-flex flex-row justify-content-between align-items-center fw-bold"
      >
        Teiera grande (2-4 persone) <span>7</span>
      </p>
      <i class="fw-bold small">Aggiunta di latte +1</i>
    </h5>

    <h4 class="cavalier fw-bold">Pu Erh Ananas</h4>
    <p class="small">
      Una delle varietà più apprezzate è quella aromatizzata all'ananas, che
      offre un gusto dolce e rinfrescante, perfetto per chi cerca un'esperienza
      di degustazione unica e piacevole.
    </p>

    <app-divider color="rgb(42, 66, 34)"></app-divider>
    <h4 class="d-flex flex-row justify-content-between">
      Thé “Bleu” Oolong
      <fa-icon style="color: rgb(56, 62, 117)" [icon]="faLeaf"></fa-icon>
    </h4>
    <p class="small">
      Il Tè “Blu” Oolong è un tè semi-ossidato noto per la sua delicatezza.
      <br />
      Il suo nome deriva dal caratteristico processo di ossidazione che, durante
      la lavorazione, conferisce alle foglie mature una colorazione Blu.<br />
      Numerose leggende circondano questo tè affascinante, ma una delle più
      celebri risale alla Dinastia Ming. <br />Si narra di un contadino che,
      mentre raccoglieva le foglie di tè, si imbatté in un drago nero.
      <br />Sebbene la sua apparizione fosse considerata di buon auspicio, il
      contadino si spaventò e fuggì, lasciando le foglie sul terreno.<br />
      Il giorno seguente, tornando sul luogo, il contadino scoprì che le foglie
      avevano assunto una colorazione diversa dal solito. <br />Curioso, decise
      di portarle a casa e di infonderle. <br />
      Da quel momento, nacque il Tè “Wu Long”, che in cinese significa "Drago
      Nero", un nome scelto in onore del drago che aveva contribuito alla
      trasformazione del tè.
    </p>

    <h5 class="my-4">
      <p
        class="mb-0 cavalier d-flex flex-row justify-content-between align-items-center fw-bold"
      >
        Teiera piccola (1-2 persone) <span>4</span>
      </p>
      <p
        class="mb-0 cavalier d-flex flex-row justify-content-between align-items-center fw-bold"
      >
        Teiera grande (2-4 persone) <span>7</span>
      </p>
      <i class="fw-bold small">Aggiunta di latte +1</i>
    </h5>

    <h4 class="cavalier fw-bold">Oolong Châtaigne</h4>
    <p class="small">
      Una delicata miscela di Oolong e tè nero cinese, aromatizzato alla
      castagna. <br />Delizioso al naturale o accompagnato da una leggera nuvola
      di latte.
    </p>
    <app-divider color="rgb(42, 66, 34)"></app-divider>

    <h3
      class="d-flex flex-row justify-content-between align-items-center fw-bold"
    >
      Tisane
    </h3>
    <p class="small">
      Le tisane sono bevande calde prive di teina, realizzate principalmente con
      erbe aromatiche e arricchite da frutta secca, spezie e fiori. <br />
      Ogni varietà offre effetti unici, che possono variare da rilassanti e
      calmanti a stimolanti e digerenti, fino a rinfrescanti. <br />
      Grazie alla loro versatilità, le tisane possono essere gustate in
      qualsiasi momento della giornata, apportando benefici e piacere al palato.
    </p>

    <h5 class="my-4">
      <p
        class="mb-0 cavalier d-flex flex-row justify-content-between align-items-center fw-bold"
      >
        Teiera piccola (1-2 persone) <span>3.5</span>
      </p>
      <p
        class="mb-0 cavalier d-flex flex-row justify-content-between align-items-center fw-bold"
      >
        Teiera grande (2-4 persone) <span>6</span>
      </p>
      <i class="fw-bold small">Aggiunta di latte +1</i>
    </h5>
    <h4 class="cavalier fw-bold">Rooibos Rouge Nature</h4>
    <p class="small">
      Pianta del Sud Africa ricca di antiossidanti e vitamine naturalmente priva
      di teina.<br />
      Ottima per la digestione, ha un retrogusto di nocciola e malva.
    </p>
    <h4 class="cavalier fw-bold">Pure Gourmandise Kir Royal</h4>
    <p class="small">
      Ricca miscela con fiore di ibisco, rosa canina, sambuco, frutti rossi e
      frutti neri.<br />
      Una delizia per grandi e piccini.
    </p>
    <h4 class="cavalier fw-bold">Pure Détente Paradis Bleu</h4>
    <p class="small">
      Miscela rinfrescante con fiori di tiglio, verbena e menta.<br />Un sapore
      vivace e dissetante.
    </p>
    <h4 class="cavalier fw-bold">Melissa</h4>
    <p class="small">
      Pianta antiossidante, è ottima per la digestione e per chi soffre di mal
      di testa. <br />Con il suo naturale retrogusto al limone vi rilasserà.
    </p>
    <h4 class="cavalier fw-bold">Fiori di Camomilla</h4>
    <p class="small">
      Piccoli fiori di Camomilla, aiutano nel rilassamento e calmano gli animi
      nelle giornate più difficili.
    </p>
    <h4 class="cavalier fw-bold">Fiori di Ibisco (Karkadè)</h4>
    <p class="small">
      Infuso rosso acceso, rinfrescante e dissetante, con un sapore leggermente
      aspro, ideale per chi soffre di pressione alta.
    </p>
  </div>
</div>
