<div
  class="svh-100 w-100 p-3 d-flex flex-column"
  id="container"
  style="color: rgb(201, 175, 157)"
>
  <div
    class="flex-fill rounded-0 overflow-scroll px-3 pt-3 shadow position-relative"
    id="inner"
    style="padding-bottom: 80px"
  >
    <a
      id="goToHomeBtn"
      class="btn btn-primary"
      (click)="ss.sectionsVisibility = true"
    >
      <fa-icon [icon]="faArrowLeft"></fa-icon>
    </a>
    <h4
      class="cavalier d-flex flex-row justify-content-between align-items-center mb-0 fw-bold"
    >
      Pain Suisse
    </h4>
    <p class="small">
      Morbido Pain Brioche con all’interno crema pasticcera e gocce di
      cioccolato fondente belga Callebaut.
    </p>
    <h4 class="d-flex flex-row justify-content-end cavalier fw-bold">
      2 pz. - 15 intero
    </h4>
    <app-divider color="rgb(201, 175, 157)"></app-divider>
    <h4
      class="cavalier d-flex flex-row justify-content-between align-items-center mb-0 fw-bold"
    >
      Gateaux de Voyage
    </h4>
    <p class="small">
      Fatto con un impasto agli agrumi, bagna agli agrumi e zest di agrumi.
      <br />
      <i>(senza lattosio)</i>
    </p>
    <h4 class="d-flex flex-row justify-content-end cavalier fw-bold">
      2 pz. - 15 intero
    </h4>
    <app-divider color="rgb(201, 175, 157)"></app-divider>

    <h4
      class="cavalier d-flex flex-row justify-content-between align-items-center mb-0 fw-bold"
    >
      Banana Bread
    </h4>
    <p class="small">
      Fatto con banane fresche e frutta secca. <br /><i
        >(vegano e senza glutine)</i
      >
    </p>
    <h4 class="d-flex flex-row justify-content-end cavalier fw-bold">
      2 pz. - 15 intero
    </h4>
    <app-divider color="rgb(201, 175, 157)"></app-divider>

    <h4
      class="cavalier d-flex flex-row justify-content-between align-items-center mb-0 fw-bold"
    >
      Parisienne vuota <span>1.50</span>
    </h4>
    <p class="small">Morbida pallina di Brioche</p>
    <app-divider color="rgb(201, 175, 157)"></app-divider>
    <h4
      class="cavalier d-flex flex-row justify-content-between align-items-center mb-0 fw-bold"
    >
      Parisienne farcita <span>2</span>
    </h4>
    <p class="small">
      Morbida pallina di Brioche farcita con le nostre creme e composte.
    </p>
    <app-divider color="rgb(201, 175, 157)"></app-divider>
    <h4
      class="cavalier d-flex flex-row justify-content-between align-items-center mb-0 fw-bold"
    >
      Pain Brioche
    </h4>
    <p class="small">
      Morbido Pain Brioche al lievito madre, ottimo da abbinare con dolce o
      salato.<br />
      <i>(Disponibile solo su prenotazione)</i>
    </p>
    <h4 class="d-flex flex-row justify-content-end cavalier fw-bold">
      11 intero
    </h4>

    <u class="fw-bold small mx-0 mb-0 mt-5 text-center"
      >Tutti i prodotti contengono i seguenti allergeni: (1,2,5)</u
    >
  </div>
</div>
