<div
  class="svh-100 w-100 p-3 d-flex flex-column"
  id="container"
  style="color: rgb(155, 167, 189)"
>
  <div
    class="flex-fill rounded-0 overflow-scroll border p-3 shadow pb-5 position-relative"
    id="inner"
    style="border-color: rgb(155, 167, 189)"
  >
    <a
      id="goToHomeBtn"
      class="btn btn-primary"
      (click)="ss.sectionsVisibility = true"
    >
      <fa-icon [icon]="faArrowLeft"></fa-icon>
    </a>

    <h4 class="d-flex flex-row align-items-center mb-0 fw-bold">
      <span class="cavalier me-2">Tarte au Citron</span
      ><u class="small">(1,2,5)</u>
    </h4>
    <p class="small">
      Croccante frolla al grano saraceno, crema al succo di limone, morbida
      genoise, meringa Flambée e scorza fresca di limone.
    </p>
    <h4 class="d-flex flex-row justify-content-end cavalier fw-bold">
      5.5 pz. - 24 grande
    </h4>
    <app-divider color="rgb(155, 167, 189)"></app-divider>
    <h4 class="d-flex flex-row align-items-center mb-0 fw-bold">
      <span class="cavalier me-2">Tarte au Fleur</span
      ><u class="small">(1,2,5)</u>
    </h4>
    <p class="small">
      Croccante frolla al grano saraceno, crémeux al cocco, genoise con bagna ai
      fiori d’arancio, Mousse al cocco e Namelaka al pistacchio puro 100%.
    </p>
    <h4 class="d-flex flex-row justify-content-end cavalier fw-bold">
      7.5 pz. - 38 grande
    </h4>
    <app-divider color="rgb(155, 167, 189)"></app-divider>
    <h4 class="d-flex flex-row align-items-center mb-0 fw-bold">
      <span class="cavalier me-2">Tarte au Caramel</span
      ><u class="small">(1,2,3,5)</u>
    </h4>
    <p class="small">
      Croccante frolla al grano saraceno, caramello morbido, arachidi salate e
      ganache montée di cioccolato al latte belga Callebaut.
    </p>
    <h4 class="d-flex flex-row justify-content-end cavalier fw-bold">
      6 pz. - 26 grande
    </h4>
    <!--  <app-divider color="rgb(155, 167, 189)"></app-divider>
    <h4
      class="cavalier d-flex flex-row justify-content-between align-items-center mb-0 fw-bold"
    >
      Tarte Pavlova
    </h4>
    <p class="small">
      Croccante frolla al grano saraceno, composta al 90% frutta ed erbe
      aromatiche del nostro orto, brunoise di frutta fresca, morbida genoise,
      chantilly francese alla vaniglia, meringa francese alla menta.
      <br /><br /><i class="fw-bold">(disponibile solo primavera ed estate)</i>
    </p>
    <h4 class="d-flex flex-row justify-content-end cavalier fw-bold">
      7 pz. - 30 grande
    </h4> -->
    <app-divider color="rgb(155, 167, 189)"></app-divider>
    <h4 class="d-flex flex-row align-items-center mb-0 fw-bold">
      <span class="cavalier me-2">Tarte Mont Blanc</span
      ><u class="small">(1,2,5)</u>
    </h4>
    <p class="small">
      Croccante frolla al grano saraceno, composta di mandarino 90% frutta ,
      morbida genoise, mousse al cioccolato bianco belga Callebaut, crema di
      marroni pura e marron glacé.
      <br /><i class="fw-bold">(disponibile solo autunno ed inverno)</i>
    </p>
    <h4 class="d-flex flex-row justify-content-end cavalier fw-bold">
      7.5 pz. - 38 grande
    </h4>
    <app-divider color="rgb(155, 167, 189)"></app-divider>
    <h4 class="d-flex flex-row align-items-center mb-0 fw-bold">
      <span class="cavalier me-2">Fraisier</span><u class="small">(1,2,5,7)</u>
    </h4>
    <p class="small">
      Fragole fresche, morbida genoise bagnata al limone, crema mousseline alla
      vaniglia Bourbon, brunoise e composta di fragola al 90% frutta, con un
      tocco di chantilly francese alla vaniglia.
      <br /><i class="fw-bold">(disponibile solo primavera ed estate)</i>
    </p>
    <h4 class="d-flex flex-row justify-content-end cavalier fw-bold">
      6.5 pz. - 30 grande
    </h4>
    <!-- <app-divider color="rgb(155, 167, 189)"></app-divider>
    <h4
      class="cavalier d-flex flex-row justify-content-between align-items-center mb-0 fw-bold"
    >
      Tarte Colombia
    </h4>
    <p class="small">
      Croccante frolla al grano saraceno, composta di banana 90% frutta,
      composta di frutto della passione 90% frutta, streusel alla mandorla e
      sesamo bianco tostato e mousse al cioccolato 100% fondente "Yurupari" di
      Cacao Disidente.
    </p>
    <h4 class="d-flex flex-row justify-content-end cavalier fw-bold">
      8 pz. - 34 grande
    </h4>
    <app-divider color="rgb(155, 167, 189)"></app-divider>
    <h4
      class="cavalier d-flex flex-row justify-content-between align-items-center mb-0 fw-bold"
    >
      Tarte Pistache
    </h4>
    <p class="small">
      Croccante frolla al grano saraceno, composta di amarena 90% frutta, crunch
      di cornflakes e ciccolato bianco belga Callebaut e mousse al pistacchio
      con pasta pura al 100%
    </p>
    <h4 class="d-flex flex-row justify-content-end cavalier fw-bold">
      7 pz. - 30 grande
    </h4> -->
  </div>
</div>
